/OGA.InfraBase/.vs
/OGA.InfraBase/OGA.InfraBase_NET5/bin
/OGA.InfraBase/OGA.InfraBase_NET5/obj
/OGA.InfraBase/OGA.InfraBase_NET5_Tests/bin
/OGA.InfraBase/OGA.InfraBase_NET5_Tests/obj
/OGA.InfraBase/OGA.InfraBase_NET6/bin
/OGA.InfraBase/OGA.InfraBase_NET6/obj
/OGA.InfraBase/OGA.InfraBase_NET6_Tests/bin
/OGA.InfraBase/OGA.InfraBase_NET6_Tests/obj
/OGA.InfraBase/Publish
/OGA.InfraBase/TestResults
